<%= form_with(model: admin_user_post, local: true) do |form| %>
  <% if admin_user_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_user_post.errors.count, "error") %> prohibited this admin_user_post from being saved:</h2>

      <ul>
      <% admin_user_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
