<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_user_post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @admin_user_post.body %>
</p>

<%= link_to 'Edit', edit_admin_user_post_path(@admin_user_post) %> |
<%= link_to 'Back', admin_user_posts_path %>
